---
import "@fontsource/roboto";
import Layout from "../../../layouts/Layout.astro";

const title = "Software | Nanas Sound";
const description = "Discover our innovative software products for music creation and performance. From gesture-based MIDI control to remote synthesizer access.";
const image = "/products-img/airbending-social.jpg";

const softwareProducts = [
  {
    title: "AirBending",
    description: "Gesture-based MIDI Controller",
    image: "/products-img/airbending-main.webp",
    link: "/products/software/airbending",
    external: false,
    downloadLink: "https://apps.apple.com/us/app/airbending-midi-controller/id6748079429?mt=12&itscg=30200&itsct=apps_box_link&mttnsubad=6748079429"
  },
  {
    title: "Play-a-Synth",
    description: "Remote synthesizer platform",
    image: "/products-img/playasynth-main.webp",
    link: "https://playasynth.com",
    external: true
  }
];
---

<Layout title={title} description={description} image={image}>
  <div class="px-4 sm:px-6 lg:px-8 pb-10">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold text-center my-10">Software</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      {softwareProducts.map((product) => (
        <div class="bg-neutral-50 p-5">
          <div class="ps-5 py-5 md:ps-10 md:py-10">
            <span class="block font-bold text-xl md:text-3xl text-dark-800 text-center">{product.title}</span>
            <span class="block text-dark text-lg md:text-xl text-center">{product.description}</span>
            
            {product.title === "AirBending" ? (
              <div class="mt-5 flex flex-col gap-y-2 items-center">
                <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" href={product.link}>
                  Discover
                </a>
              </div>
            ) : (
              <div class="mt-5 flex gap-x-2 justify-center">
                <a class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 disabled:opacity-50 disabled:pointer-events-none" 
                   href={product.link} 
                   {...product.external ? { target: '_blank', rel: 'noreferrer noopener' } : {}}>
                  {product.external ? 'Visit Website' : 'Discover'}
                </a>
              </div>
            )}
          </div>
          <img class="w-full h-auto" src={product.image} alt={product.title}>
        </div>
      ))}
    </div>
  </div>
</Layout> 