---
const { productName } = Astro.props;
const basePath = `/products/eurorack-modules/${productName.toLowerCase()}`;
const currentPath = Astro.url.pathname;

const navItems = [
  { path: basePath, label: 'Overview' },
  { path: `${basePath}/schematic`, label: 'Schematic' },
  { path: `${basePath}/bom`, label: 'Bill of materials' },
];
---

<div class="sticky top-0 bg-white px-4 py-3 sm:px-6 lg:px-8">
  <nav class="flex justify-center gap-x-4">
    {navItems.map(({ path, label }) => (
      <a
        href={path}
        class:list={[
          'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border',
          currentPath === path
            ? 'bg-yellow-400 border-transparent text-black'
            : 'border-yellow-400 hover:bg-yellow-500 text-dark'
        ]}
        aria-current={currentPath === path ? 'page' : undefined}
      >
        {label}
      </a>
    ))}
    <a
      href="https://shop.nanassound.com/products/uksed-4-channels-audio-i-o-module"
      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-yellow-400 border border-transparent text-black hover:bg-yellow-500"
      target="_blank"
    >
      Buy
    </a>
  </nav>
</div>
