---
const { productName } = Astro.props;

const basePath = `/products/eurorack-modules/${productName.toLowerCase()}`;

const currentPath = Astro.url.pathname;
const isOverviewPage = currentPath === basePath;
const isSchematicPage = currentPath === `${basePath}/schematic`;
const isBomPage = currentPath === `${basePath}/bom`;
---

<section class="sticky-section container py-3 bg-white">
  <div class="row">
    <div class="col">
      <ul class="nav nav-underline justify-content-center">
        <li class="nav-item fs-6">
          <a
            class={`nav-link ${isOverviewPage ? "active" : ""}`}
            {...(isOverviewPage ? {'aria-current': 'page'}: {})}
            href={basePath}>Overview</a
          >
        </li>
        <li class="nav-item fs-6">
          <a
            class={`nav-link ${isSchematicPage ? "active" : ""}`}
            href={`${basePath}/schematic`}
            {...(isSchematicPage ? { 'aria-current': 'page' } : {})}
          >
            Schematic
          </a>
        </li>
        <li class="nav-item fs-6">
          <a
            class={`nav-link ${isBomPage ? "active" : ""}`}
            href={`${basePath}/bom`}
            {...(isBomPage ? { 'aria-current': 'page' } : {})}
          >
            Bill of materials
          </a>
        </li>
        <li class="nav-item fs-6">
          <a
            href="https://shop.nanassound.com/products/uksed-4-channels-audio-i-o-module"
            class="btn btn-primary fs-6"
          >
            Buy
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .sticky-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
</style>
