---
const { productName, buyLink = null } = Astro.props;
const basePath = `/products/eurorack-modules/${productName.toLowerCase()}`;
const currentPath = Astro.url.pathname.replace(/\/$/, '');

const navItems = [
  { path: basePath, label: 'Overview' },
  { path: `${basePath}/schematic`, label: 'Schematic' },
  { path: `${basePath}/bom`, label: 'Bill of materials' },
];
---

<div class="sticky top-0 bg-white px-4 py-3 sm:px-6 lg:px-8">
  <nav class="flex justify-center gap-x-4">
    {navItems.map(({ path, label }) => (
      <a
        href={path}
        class:list={[
          'py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border',
          currentPath === path.replace(/\/$/, '')
            ? 'bg-yellow-400 border-transparent text-black'
            : 'border-yellow-400 hover:bg-yellow-500 text-dark'
        ]}
        aria-current={currentPath === path.replace(/\/$/, '') ? 'page' : undefined}
      >
        {label}
      </a>
    ))}
  </nav>
  {buyLink && (
    <nav class="flex justify-center gap-x-4">
      <a
        href={buyLink}
        class="py-2 px-3 mt-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-lime-400 border border-transparent text-black hover:bg-lime-500"
        target="_blank"
      >
        Buy assembled module
      </a>
    </nav>
  )}
</div>
